<div class="panel panel-default">
  <div class="panel-heading">Método de despacho</div>
  <div class="panel-body">
		<%= radio_button("delivery", "option", "Normal", :checked => true) %> 
		Despacho estándar (considera desde 1 a 5 días hábiles para que tu compra esté en el lugar deseado)
	</div>
</div>