<div class="panel panel-default">
  <div class="panel-heading">Método de Pago</div>
  <div class="panel-body">
		<%= radio_button("payment", "option", "webpay", :checked => true) %> 
		Tarjetas de crédito y débito (webpay) <br /><br />
		<%= radio_button("payment", "option", "transfer") %>
		Trasferencia bancaria (depósito a una cuenta corriente)
	</div>
</div>