Realiza una transferencia a los siguientes datos:
<div style="margin:10px 0px 10px 10px;">
- <b>Banco:</b> Santander<br />
- <b>Nº Cuenta Corriente:</b> 67640187<br />
- <b>Titular Cuenta:</b> Tramanta<br />
- <b>Rut:</b> 76.327.445-4<br />
- <b>Correo:</b> contacto@tramanta.com<br />
</div>
<b>Una vez realizada la transferencia</b> haz click en el botón de abajo.<br /><br />
Dentro de las próximas horas te enviaremos un correo confirmando que hemos recibido el depósito correctamente y realizaremos el despacho según las políticas que ya revisaste.
<br /><br />
<%= link_to 'Transferencia Realizada', buy_success_transfer_path(:purchase_id => purchase.id), :method => :post, 
						:class => 'btn btn-primary' %>
<br />