<div class="container">
	<div class="row">
	  <%= link_to t('cancel'), supplier_account_path(@supplier), :class => :button%>
		<h2><%= t 'editing_supplier_info' %></h2>
	</div>
	<%= render 'form' %>	
</div>