<div class="container">
	<%= render 'menu', public_url: @supplier_account.public_url %>
	<div class="row">
		<div class="col-md-12">
			<h1>Proximamente</h1>
			<p>Podrás ver los pagos que hemos realizado a tu cuenta y el detalle de cada uno de ellos</p>
		</div>
	</div>
</div>