<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1 class="supplier_page_in_name"><%= @supplier.supplier_account.fantasy_name %></h1>
		</div>
		<div class="col-md-4">
			<div class="supplier_page_in_image">
			 	<%=  link_to image_tag(@supplier.supplier_account.image.url(:small), :alt => @supplier.supplier_account.image_name), @supplier.supplier_account.image.url(:original), :class => :fancybox %>
				<% unless (imgs = @presentation.presentation_images).blank? %>
					<div class="supplier_page_in_image_count">
						<% imgs.each_with_index do |image, i| %>
							<%= link_to image_tag(image.image.url(:tiny), :alt => image.image.name), image.image.url(:original), :class => :fancybox, :rel => :gallery  %>
						<% end %>
					</div>
				<% end %>
			</div>	
		</div>
	</div>
	<div class="row">
			<%= yield :supplier_page_in_content %>
	</div>
</div>