<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Nueva Información WBR</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">	
			<%= link_to 'Volver', reports_wbr_path %>
		</div>
	</div>
</div>