<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>Cambia clave a <%= @supplier_account.supplier.email %></p>
			<hr/>
			<%= render :template => 'suppliers/passwords/edit', 
			                    :locals => { :resource => @supplier_account.supplier, :resource_name => "supplier", :reset_password_token => @token } %>
		</div>
	</div>
</div>