<div class="container">
	<%= render 'user_profile/left_menu', :dresses => @dresses %>
	<div class="row">
		<%= render 'show_purchase', :purchase => @purchase, :purchasable => @purchasable, :subtotal => @subtotal %>
	</div>
</div>