<p id="notice"><%= notice %></p>

<div class="titulos padding">
	Quiénes Somos
</div>

<div class="document_box">
<div class="documento">	
	<div class="titulos">Es tu matrimonio, ¡hazlo como quieras!</div>
	<br /><br />
	<p><b style="color:#333">Queremos novios relajados</b>, que tomen sus decisiones conociendo todas las alternativas y aprendiendo de las experiencias de otros. Matriclick.com es el  lugar donde <b style="color:#333">novios, invitados y proveedores podrán recomendar, comentar y colaborar</b> para que esto ocurra y así lograr que los novios hagan el matrimonio que sueñan.</p><br />
<!--
	<div class="imagen_grupo_matriclick">
	</div>
-->
	<br />
	<p>Queremos que los matrimonios <b style="color:#333">reflejen la escencia de los novios.</b> Estamos convencidos que el comienzo de una nueva etapa debe <b style="color:#333">ser celebrado junto a las personas que uno quiere, de la forma que a uno lo representa</b> y eso tiene mucho más valor que todo lo demás.</p><br /><br />
	<p>Somos una empresa joven, compuesta por un <b style="color:#333">equipo multi-disciplinario de ingenieros, publicistas, diseñadores y periodistas</b>. Nuestra principal tareas es estar constantemente ideando nuevas formas de aumentarles la felicidad a los novios y proveedores <b style="color:#333">Matriclick.com.</b></p><br />
	
	<div class="imagen_grupo_matriclick">
		<b style="color:#333;">¡Te invitamos a ser parte!</b>
	</div>
	
	<div class="clear"></div>

</div>
</div>