<h1>¿Quiénes Somos?</h1>
<div class="clear"></div>

<div class="document_box">
	<div class="documento">	
		<h2>¡Buena pregunta!</h2>
		<p><b style="color:#333">Nuestra visión:</b> que la ropa que te gusta y te queda bien te llegue antes de que la veas.<br />
		<p><b style="color:#333">Nuestra misión:</b> armar tu closet, llevándote los productos directamente a él.</p>
		<p><b style="color:#333">El equipo:</b> somos una empresa joven, compuesta por un <b style="color:#333">equipo multi-disciplinario de ingenieros, publicistas, diseñadores y periodistas</b>. Ingresa a nuestro perfil de <%= link_to 'LinkedIn', 'http://www.linkedin.com/company/matriclick-com', :target => '_blank'%> para conocernos.</p><br />
	
		<div class="imagen_grupo_matriclick">
			<b style="color:#333;">¡Te invitamos a ser parte!<br /><br />
				<%= link_to image_tag('footer/social-black-facebook.jpg'), 'https://www.facebook.com/tramantaonline', 
						:target => '_blank' %> 
				<%= link_to image_tag('footer/social-black-twitter.jpg'), 'https://twitter.com/tramantaonline', 
							:target => '_blank' %>
				<%= link_to image_tag('footer/social-black-pinterest.jpg'), 'http://pinterest.com/tramanta', 
					:target => '_blank' %>
				</b>
		</div>
	
		<div class="clear"></div>

	</div>
</div>