<div class="titulos padding">
	Prensa
</div>

<div style="float:right">
	<i>Contacto de prensa: prensa@matriclick.com</i>
</div>



<br /><br />
<div style="margin-bottom:20px; border-bottom:1px dotted;">	</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/teletrece.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<iframe src="http://player.vimeo.com/video/45407219" width="500" height="370" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clear"></div>
	<br />
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/chv.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<iframe src="http://player.vimeo.com/video/45484327" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clear"></div>
	<br />
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/radio_agricultura.jpeg', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<iframe src="http://player.vimeo.com/video/46041611" width="500" height="288" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clear"></div>
	<br />
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/emol.gif', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Novios chilenos pueden acceder a un novedoso sitio web de tips para su matrimonio"</b></p><br />
		<p>El sitio "Matriclick" fue creado por tres jóvenes y hoy reúne a más de 200 marcas para solucionar los detalles necesarios para realizar la ceremonia de casamiento lo más a gusto que se pueda.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.emol.com/noticias/economia/2012/05/12/540236/novios-chilenos-pueden-acceder-a-un-novedoso-sitio-web-de-tips-para-su-matrimonio.html', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/terra.jpeg', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"La nueva tendencia en matrimonios: de día y con asados"</b></p><br />
		<p>Si estás preparando tu boda soñada, revisa www.matriclick.com. Pensando en lo difícil que resulta la organización de un matrimonio, tres amigos profesionales del mundo de la ingeniería y la publicidad, decidieron crear un sitio en el que se agrupa toda la información necesaria para novios.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://vidayestilo.terra.cl/mujer/la-nueva-tendencia-en-matrimonios-de-dia-y-con-asados,110deb3ac11f7310VgnVCM4000009bcceb0aRCRD.html', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/la2da.gif', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Matriclick.com: Tres jóvenes crean sitio para reemplazar al Wedding Planner"</b></p><br />
		<p>La página les permite a las parejas cotizar desde las flores hasta el vestido para su matrimonioy también perdir referencias a otras parejas.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.la2da.cl/pages/newsdetail.aspx?dt=2012-03-01&PaginaId=21&BodyID=0%3FtipoPantalla%3Dundefined', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/publimetro.jpeg', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Matriclick.com: Todo para el matrimonio en un sitio"</b></p><br />
		<p>Exactamente todo lo que necesario para organizar se encuentra en esta página web. Funciona también como una red social donde los novios e invitados comparten las experiencias que han tenido con los proveedores.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.publimetronline.cl/frontend/index.php?edicion=743&page=10', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/la_hora.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"La red social para preparar tu matrimonio"</b></p><br />
		<p>Este sitio entrega datos y permite el contacto entre usuarios para que intercambien consejos. Desde el vestido de novia hasta los manteles de cóctel.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.matriclick.com/assets/press/La_Hora_Mujeres_20_de_junio_de_2012.jpg', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/la_nacion.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Prepare la boda soñada sólo con hacer un click"</b></p><br />
		<p>No se estrese más de la cuenta por los preparativos de su matrimonio. Ahora con un solo click podrá tener el vestido de novia, la banda, el banquetero, las flores y todo lo necesario para esta unión.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo', 'http://www.lanacion.cl/prepare-la-boda-sonada-solo-con-hacer-un-click/noticias/2012-03-27/140752.html', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/revista_mujer_la_tercera.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Matriclick, una red para novios"</b></p><br />
		<p>Vestido, banquetero, coro, flores... Son muchas las cosas que los novios tienen que organizar antes de casarse y el portal Matriclick es la plataforma más útil para ellos.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo','http://www.matriclick.com/assets/press/noticia_revista_mujer_la_tercera.jpeg', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/geek_and_chic.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Matriclick, la red social de los novios"</b></p><br />
		<p>Si estás planeando tu matrimonio porque por fin encontraste a tu media naranja es bueno que conozcas Matrilick: la red social de los novios. Matriclick, la nueva red social de novios, ofrece la posibilidad de “pasarse el dato” entre parejas y que puedan elegir todo desde un mismo lugar, sin pararse de su asiento.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo','http://geekandchic.cl/2012/06/matriclick-la-red-social-de-los-novios/', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>

<div style="margin-bottom:20px; border-bottom:1px dotted;">	
	<div style="float:left">
		<%= image_tag('press/24horas.png', width: '150px')%>
	</div>
	<div style="float:left; margin:20px 0px 0px 10px; width:550px">
		<p><b>"Matriclick, la red social chilena de los novios"</b></p><br />
		<p>Innovador proyecto nacional pretende aportar en la siempre difícil tarea de organizar un matrimonio.</p>
		<br />
		<p><%= link_to 'Revisa el reportaje completo','http://www.matriclick.com/assets/press/24horas_Matriclick.jpg/', target: '_blank'
		%></p>
	</div>
	<div class="clear"></div>
</div>
