<div class="titulos padding">
	Trabaja en Matriclick
</div>
<div class="document_box">
<div class="documento">	
	
	<br />
		<div style="float:right; padding-left:15px"><%= image_tag "lupa.png" %></div>	
	<p>	
		<b style="color:#333">¡Ven a conocer Matriclick!</b> <i>Buscamos personas, no cargos</i>.
	</p>
	<br />
	<p>Matriclick es una empresa que está envisionando el futuro de los matrimonios.</p>
	<br />
	<p>
	En Matriclick se vive y respira el punto de vista de los <b style="color:#333">novios, proveedores e invitados</b>. Todos los procesos de negocio, prácticas y sistemas están ingeniados para apoyar esto. Nuestra gente está 100% comprometida con esta forma de hacer las cosas.
	</p>
	<br />	
	<p>En Matriclick nos <b style="color:#333">alimentamos de la tecnología,</b> el equipo de producto está conformado por los mejores desarrolladores del país, quienes están poniendo todas sus habilidades para inventar y crear el futuro.</p>
	<br />
	<p>Nosotros lo pasamos bien. Disfrutamos lo que hacemos. Nos apasionamos por la misión que tenemos.</p>
	<br />
	<p>Son bienvenidas las personas con ganas de inventar el futuro, que son emprendedoras, visionarias y que quieren trabajar en un ambiente informal, amigable y exigente.</p>

	<hr>
	<br />
	<div style="float:right; padding-left:15px"><%= image_tag "disponible.png" %></div>

		<br />
		<p><b style="color:#333">Visionario Tecnológico</b></p>
		<br />
		<p>La invitación es a unirse al equipo encargado de la tecnología de la empresa que nos permite inventar cómo se organizarán los matrimonios. Usarás tecnologías del estado del arte y aprenderás cosas que probablemente nadie en Chile te puede enseñar, participando activamente en el mundo del start-up en Chile  y podrás conocer a personas de distintos países que están en las mismas, para mejorar continuamente.</p>
		
		<br />
		<p>El cargo implica estar dispuesto a hacerse responsable del desarrollo web de la página, construir nuevas aplicaciones, pensar distinto el sitio, crear e innovar y participar en el proceso de mejora continua de ésta. El éxito de esta empresa radica en cómo hacer un match entre las necesidades detectadas y las tecnologías que desarrollaremos para cubrirlas.</p>
		
		<br />
		<p>La responsabilidad del área tecnológica ¡es clave para el futuro! Emprender en esta área te dará la posibilidad de vivir realmente un emprendimiento y aprender para el próximo.</p>
		
	<br />
	<p><b style="color:#333">Requisitos</b></p>
	<br />
	
	<p>¡Ser un geek! ¡Y estar orgulloso de serlo! Tener experiencia en desarrollo web, ojalá en Ruby on Rails y tener hambre de aprender y trabajar en equipo.</p>
	
	<br />
	<p><b style="color:#333">Alternativas de trabajo ofrecidas:</b></p>
	<br />
	
	<p>
		<i>
			- Profesional Full time<br />
			- Profesional Part time<br />
			- Práctica Full time<br />
		</i>
	</p>
	
	<br />
	<p><b style="color:#333">Preguntas</b></p>
	<br />
	
	<p><i>
		- ¿Qué harías para mejorar la página Matriclick.com? (Nombra un par de cosas con lo que ves hoy de la página)<br />
		- ¿Qué es lo que realmente te apasiona?<br />
		- ¿Qué piensas acerca del emprendimiento?<br />
	</i></p>
	<hr>
	<br />
	<br />
	<p>Envía tu CV respondiendo las preguntas y contándonos de ti a: <i class="black">talentos@matriclick.com</i>.<br><br>
	</p>
	<div style="text-align:center">
		<b style="color:#333">¡Te queremos conocer!</b></p>
	<br />
		<%= image_tag "foto_invitados.jpg" %>
	<br />
	</div>
</div>
</div>
