<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					<p><b>¡Felicitaciones <%= @dress.supplier_account.fantasy_name %>! Se ha vendido uno de tus productos en Tramanta.com</b></p>
					<p style="color:#aaa;">Nombre del producto: <%= link_to @dress.introduction, dress_ver_path(:only_path => false, :host => 'www.tramanta.com',
						:type => @dress.dress_type.name, :slug => @dress.slug) %></p>
					<p>
						<%= image_tag attachments['photo.png'].url, alt: @dress.description %>
					</p>
					<p style="color:#aaa;">
						Para revisar el detalle de la compra ingresa con tu cuenta a Tramanta.com y haz click en el menú negro, en la opción "Ventas en Tramanta".
					</p>
					<p style="color:#aaa;">
						Recuerda reservar el producto para que lo pasemos a buscar lo antes posible.
					</p>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>