<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Editing matriclicker</h1>

			<%= render 'form' %>
			<br /><br />
			<%= link_to 'Show', @matriclicker %> |
			<%= link_to 'Back', matriclickers_path %>
		</div>
	</div>
</div>