function focus_on_one_dress(id,price) {
	$('.home_image').css({ opacity: 0.3 });
	$('#'+id).css({ opacity: 1 });
	//$('#'+id).append('<div class="price" style="top:0px; text-align:center; background-color:rgba(0,0,0,0.5); color:white; font-size:11px; width:70px;">'+price+'</div>');
}

function back_to_normal() {
	$('.home_image').css({ opacity: 1 });
	//$('.price').remove()
}

function dress_menu(show,hide1,hide2,element) {
    $('#'+show).show();
    $('#'+hide1).hide();
    $('#'+hide2).hide();

	$('.selected').addClass('not_selected').removeClass('selected');
	$(element).addClass('selected').removeClass('not_selected');
}

function switch_image(element) {
	new_side = $('.main').attr("src");
	new_main = $(element).attr("src")
	
	$(element).attr("src", new_side)
	$('.main').attr("src", new_main);
}


function next_dress_scroll_feed(){

	    
	    if(flag_up) return;
        else flag_up = true;


	    $.ajax({
	      type: 'POST',
		  url: 'productos/endless_scrolling',
		  data: {
				ids: ids,
				type: type,
				edit: edit,
				supp: supp				
			},
			dataType: 'script'
		 });
	  }
	
function update_cost(dress_price, net_margin) {
	net_cost = Math.round(dress_price*net_margin/100)
	vat_cost = Math.round(0.19*dress_price*net_margin/100)
	total_cost = dress_price - net_cost - vat_cost
	
	document.getElementById('net_cost').innerHTML = net_cost
	document.getElementById('vat_cost').innerHTML = vat_cost
	document.getElementById('total_cost').innerHTML = total_cost
	$("#dress_net_cost").val(total_cost);
}

function update_discount(dress_original_price) {
	price = $("#dress_price").val();
	discount = (1 - price / dress_original_price)*100

	$("#dress_discount").val(discount);
}

function update_original_price(discount) {
	price = $("#dress_price").val();
	original_price = price*100/(100-discount)

	$("#dress_original_price").val(original_price);
	
}





