<div class="col-md-2">
	<div style="margin:5px">
		<div>
		<%= link_to image_tag(post.main_image.url(:smaller), :alt => post.title, :class => :image_button), post_path(post) %>
		</div>
		<div style="margin-top:10px;"><b><%= link_to post.title, post_path(post) %></b></div>
	</div>
</div>