<div class="container">
	<div class="right_link">
		<%= link_to 'Back', posts_path, :class => :button %>
	</div>
	<h1>
		Crear un nuevo Post!
	</h1>
	<div class="box">
		<%= render 'form' %>
	</div>
</div>