<div style="font-weight:bold; margin-top:20px;">Información del Despacho</div>
<p>Nuestros plazos de envío son a partir del momento en que efectúas tu compra. Si eres de Santiago o de Regiones, considera desde 1 a 5 días hábiles para que tu compra esté en el lugar deseado.</p>
<p>Si al momento de llevar el o los producto/s a la dirección de envío no hay nadie que lo pueda recibir, el producto tendrá que ser recogido en nuestras oficinas.</p>
<p><b>¿Ayuda, preguntas o dudas?</b> Escríbenos a <a href="mailto:contacto@tramanta.com?Subject=Consulta Vestidos">contacto@tramanta.com</a></p>