<% case dress.supplier_account.supplier_account_type.name %>
	<% when 'Accesorios' %>
		<div style="font-weight:bold; margin-top:20px;">DESPACHO</div>
		<hr>
		<div style="color:#545454">
			Nuestros plazos de envío son a partir del momento en que efectúas tu compra. 
			<br /><br />
			Si eres de Santiago, considera desde 1 a 7 días hábiles para que tu compra esté en el 
			lugar deseado. Si eres de regiones, considera desde 3 a 9 días hábiles para recibir tu compra. 
			<br /><br /> 
			Considera que durante los periodos de mayor demanda (Navidad, Fiestas Patrias, etc) los 
			pedidos podrían tener una pequeña demora. 
			<br /><br />
			Te sugerimos completar el formulario con todos tus datos de contacto en caso de que 
			tengamos algún problema o quisiéramos contactarte con una pregunta sobre tu pedido. 
			<br /><br />
			<b>¿Ayuda, preguntas o dudas?</b>
			<br /><br />Escríbenos a <a href="mailto:accesorios@matriclick.com?Subject=Consulta Accesorios">accesorios@matriclick.com</a> o llámanos al +56 9 7615 5005
		</div>
	<% when 'Tu Casa' %>
		<div style="font-weight:bold; margin-top:20px;">DESPACHO</div>
		<hr>
		<div style="color:#545454">
			Nuestros plazos de envío son a partir del momento en que efectúas tu compra. 
			<br /><br />
			Si eres de Santiago, considera alrededor de 15 días hábiles para que tu compra esté en el lugar deseado. Si eres de regiones, contáctanos para coordinar.
			<br /><br />
			Si el producto es fabricado a medida, entonces escríbenos para entregarte tiempos estimados.
			<br /><br />
			<b>¿Ayuda, preguntas o dudas?</b>
			<br /><br />Escríbenos a <a href="mailto:tucasa@matriclick.com?Subject=Consulta Tu Casa">tucasa@matriclick.com</a>
		</div>
	<% when 'Vestidos Boutique', 'Vestidos de Novia Usados' %>
	
	<% else %>
		<div style="font-weight:bold; margin-top:20px;">DESPACHO</div>
		<hr>
		<div style="color:#545454">
			Nuestros plazos de envío son a partir del momento en que efectúas tu compra
			<br /><br />
			Si eres de Santiago o de Regiones, considera desde 1 a 4 días hábiles para que tu compra esté en el lugar deseado.
			<br /><br />
			Si al momento de llevar el o los producto/s a la dirección de envío no hay nadie que lo pueda recibir, el producto tendrá que ser recogido en las oficinas de Matriclick
			<br /><br />
			Servicio Ultrarápido: Si necesitas el o los productos en menos de 2 días, te ofrecemos el servicio de Despacho Express con un costo adicional de $4.000. Si estás interesada, escríbenos.
			<br /><br />
			<b>¿Ayuda, preguntas o dudas?</b>
			<br /><br />Escríbenos a <a href="mailto:vestidos@matriclick.com?Subject=Consulta Vestidos">vestidos@matriclick.com</a> o llámanos al +56 9 7615 5005
		</div>
<% end %>
