<div class="row">
	<div class="col-md-10">
		<div class="row">
		<% if defined? dresses and dresses.size > 0 %>
		  <% dresses.each do |dress| %>
				<%= render 'list_dress', dress: dress %>
		  <% end %>
		<% else %>
			<%= render 'not_found' %>
		<% end %>
		</div>
		<div class="row" style="text-align:center">
		 <%= render 'dresses/pagination', dresses: dresses %>
		</div>
	</div>
	<div class="col-md-2">
		<%= render 'right_menu', sizes: @sizes %>
	</div>
</div><!--/row-->