<div class="container">
	<div class="row" stlye="margin-top:-10px">
		<div class="col-md-12">
			<h2 class="featurette-heading" style="margin-top:10px; margin-bottom:0px; font-size:24px; font-weight:lighter">Editar Producto</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>
		</div>
	</div>
</div>