<div style="width:600px">
	<div style="margin:5px 30px 10px 0px;">
	<b>CONDICIONES GENERALES</b><br /><br />
	<ul>
		<li>Se aceptan devoluciones hasta 5 días corridos desde la entrega del producto.</li>
		<li>Se devuelve el monto pagado por el producto, sin incluir el costo de despacho.</li>
		<li>Para efectuar la devolución el producto tiene que estar en las mismas condiciones que fue entregado.</li>
		<li>Debes devolver el producto enviándolo por correo o dejándolo en horario hábil en las oficinas de Tramanta.</li>
		<li>No se aceptarán devoluciones fuera de plazo.</li>
	</ul>
	</div>
</div>