<div class="container">
	<div class="row" style="padding-bottom:10px; margin-top:-10px">
		<form action="<%= dresses_search_path %>" method="get">
			<div class="col-md-12">
			  <div class="input-group">
						<%= text_field_tag(:q, @search_text, placeholder: @search_text, class: "form-control") %>
			       <span class="input-group-btn">
							<%= submit_tag("Buscar", :name => nil, class: "btn btn-default") %>
			  		 </span>
			  </div><!-- /input-group -->
			</div>
		</form>
	</div>
  <%= render 'dresses/view_dress_list', :dresses => @dresses %>
</div><!--/.container-->