<div class="container">
	<%= render 'left_menu', :dresses => @dresses %>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Compras realizadas</h3>
			  </div>
			</div>
		</div>
	</div>
	
	<% unless @purchases.blank? %>
		<%= render 'user_conversations/purchases_list', :purchases => @purchases %>
	<% else -%>
		<div class="nothing_to_show">
			<div class="message help_tip">
				¡No has realizado compras aún!
			</div>
		</div>
	<% end -%>
	
</div>
