<div class="container">
	<div class="row">
		<div class="col-md-12">			
			<div class="row">
				<div class="col-md-12">
					<%= render 'purchases/purchases_table' %>
				</div>
			</div>
		</div>
	</div>
</div>