<div class="col-md-12">
	<p><strong>No encontramos lo que estabas buscando...</strong> ¡pero tal vez alguno de estos estilos te guste más!</p>
	<%= image_tag 'el_bazar/not-found.jpg', alt: 'búsqueda no encontrada', class: "img-responsive" %> <br />
</div>
