<% if notice %>
	<!-- Button trigger modal -->
	<script type="text/javascript">
			$(".alert").alert()
	</script>
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<p><%= raw notice %></p>
	</div>
<% end %>