<div class="main_menu">
	<div id="myslidemenu" class="jqueryslidemenu">
		<ul>
			<li><%= link_to t('my_profile'), supplier_account_path(@supplier), :class => "left_link" %></li>
			<li><%= link_to t('presentation'), supplier_account_presentation_path(@supplier), :class => "left_link" %></li>
			<li><%= link_to 'Items', supplier_account_dresses_path(@supplier), :class => "left_link" %></li>
		</ul>
	</div>
</div>